<section class="header">
    <div class="header__tools-content" id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu" class="">
            <li>
                <a href="/english/brazil/">Brazil News</a>
            </li>
            <li>
                <a href="/english/technology-funding/">Tech &amp; Funding</a>
            </li>
            <li>
                <a href="/english/linea-latina/">Linea Latina</a>
            </li>
            <li>
                <a href="/english/startups/">Startups</a>
            </li>
            <li>
                <a href="https://www.bloomberglinea.com/studios/">Studios</a>
            </li>
            <li>
                <a href="https://www.bloomberglinea.com/subscription-en/">Subscribe</a>
            </li>
            <li>
                <a
                    href="https://www.bloomberglinea.com/english/reports/500-most-influential-people-in-latin-america-2022/">500
                    Latin America's Most Influential</a>
            </li>
            <li>
                <a href="https://www.bloomberglinea.com/reports/100-influential-latinos-2022/">100 Influential Latinos
                    2022</a>
            </li>
            <li>
                <a href="https://www.bloomberglinea.com/english/reports/100-latin-american-entrepreneurs-2021/">100
                    Latin American Entrepreneurs</a>
            </li>
            <li>
                <a href="https://www.bloomberglinea.com/english/reports/latin-american-women-2022/">50 Women of Impact
                    in Latin America</a>
            </li>
            <li>
                <a href="https://www.bloombergmedia.com/press/bloomberg-linea/">About us</a>
            </li>
        </ul>
    </div>
    <div class="header__logo-content">
        <img role="presentation" loading="lazy" src="../../assets/bloomberglinea.png" />
    </div>
    <div class="header__button-content">
        <button class="header__button-content--subscribe" role="button">Subscribe</button>
        <button class="header__button-content--login" role="button">Login</button>
    </div>
</section>