<footer class="footer">
    <div class="footer__top-bar">
        <div class="footer__top-bar__social">
            <img role="presentation" loading="lazy" src="../../assets/social-icons.jpg" />
        </div>
        <p class="footer__top-bar__copyright" aria-hidden="true">
            © Copyright, Bloomberg Línea | Falic Media
        </p>
    </div>
    <div class="footer__bottom-bar">
        <div class="footer__bottom-bar__section">
            <h4 class="footer__bottom-bar__section__title">Sections</h4>
            <a href="https://www.bloomberglinea.com/">Linea Latina</a>
            <a href="https://www.bloomberglinea.com/">Startups</a>
            <a href="https://www.bloomberglinea.com/">Brazil News</a>
            <a href="https://www.bloomberglinea.com/">Tech & Funding</a>
        </div>
        <div class="footer__bottom-bar__section">
            <h4 class="footer__bottom-bar__section__title">Markets</h4>
            <a href="https://www.bloomberglinea.com/">Currency and Exchange Rates</a>
            <a href="https://www.bloomberglinea.com/">Latin American Stocks Indexes</a>
        </div>
        <div class="footer__bottom-bar__section">
            <h4 class="footer__bottom-bar__section__title">Business</h4>
            <a href="https://www.bloomberglinea.com/">Customer support: support@bloomberglinea.com</a>
            <a href="https://www.bloomberglinea.com/">Advertise: ads@bloomberglinea.com</a>
            <a href="https://www.bloomberglinea.com/">partnerships@bloomberglinea.com</a>
            <a href="https://www.bloomberglinea.com/">Media Kit</a>
        </div>
        <div class="footer__bottom-bar__section">
            <h4 class="footer__bottom-bar__section__title">Terms of Use</h4>
            <a href="https://www.bloomberglinea.com/">About us</a>
            <a href="https://www.bloomberglinea.com/">Subscribe</a>
            <a href="https://www.bloomberglinea.com/">T&C</a>
            <a href="https://www.bloomberglinea.com/">Falic Media</a>
        </div>
    </div>
</footer>